.row__wrap {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.row {
	display: flex;
	flex-flow: row nowrap;
	margin: 5px;
}

.row__seat {
	@include flex-center;
	width: 50px;
	height: 50px;
	background-color: #fff;
	border: 1px solid blue;
	color: blue;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
	margin: 2px;
	outline: none;
	transition: all ease 0.6s;

	&:hover {
		background-color: blue;
		color: #fff;
		cursor: pointer;
	};
}

.premium {
	border: 1px solid orange;
	color: orange;
	&:hover {
		background-color: orange;
		color: #fff;
		cursor: pointer;
	};	
}

.econom {
	border: 1px solid green;
	color: green;
	&:hover {
		background-color: green;
		color: #fff;
		cursor: pointer;
	};	
}

.booked {
	background-color: gray;
	border: none;
	color: #fff;
}