@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.root {
	@include flex-center;
	width: 100%;	
	padding-top: 150px;
	flex-flow: column;
}

.order__timer {
	@include flex-center;
	font-size: 40px;
	font-weight: bold;
}

@import 'screen';
@import 'row';
@import 'modal';
@import 'sideMenu';